@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar{
  width: 10px;
  background-color: #26343e;
}

::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: #2b8599;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #fff;
  background-color: #fdcb5b;
}



li > .active {
  padding: 5px 15px;
  color: #26343e;
  font-weight: medium;
  background-color: #fdcb5b;
  border-radius: 5px;
}

.backgroundImg {
  background-image: url('./images/heroPic.jpg');
  background-size: cover;
  background-position: center;
}

.loader {
  height: 15px;
  aspect-ratio: 4;
  display: grid;
  animation: l31-0 1s infinite; 
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  --_g: no-repeat radial-gradient(farthest-side,#000 94%,#0000);
  background:
    var(--_g) left,
    var(--_g) right;
  background-size: 25% 100%;
}
.loader:after {
  transform: rotate(0) translate(37.5%) rotate(0);
  animation: inherit;
  animation-name: l31-1; 
}
@keyframes l31-0 {
  100% {transform:translate(37.5%)}
}
@keyframes l31-1 {
  100% {transform:rotate(-.5turn) translate(37.5%) rotate(.5turn)}
}